.sticker-panel {
  background-color: #4f5a6e;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px #6b768a;
  width: 450px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 20%;
}

.sticker-panel__list {
  background-color: #424b5f;
  list-style: none;
  padding: 10px 0;
  width: 50px;
  height: 100%;
}

.sticker-panel__list-item {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.sticker-panel__list-item img {
  max-width: 100%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s;
}

.sticker-panel__list-item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
}

.sticker-panel__list button::after {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  right: -75px;
  content: attr(data-name);
  transform: translateY(-50%);
  background-color: #424b5f;
  color: #d0d0d0;
  padding: 4px 8px;
}

.sticker-panel__list button:hover::after {
  opacity: 1;
  pointer-events: unset;
}

.sticker-panel__list-item:hover img {
  border-radius: 30%;
}
