.sticker-panel {
  user-select: none;
  background-color: #434c5d;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px #434c5d;
  width: 450px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 999;
}

.sticker-panel--visible {
  pointer-events: unset;
  opacity: 1;
}

.sticker-panel:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #888faa;
}

.sticker-panel__list {
  background-color: #353b4b;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 50px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  overflow-y: scroll;
}

.sticker-panel__list-item {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.sticker-panel__list-item img {
  max-width: 100%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s;
}

.sticker-panel__list-item button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.sticker-panel__list button:hover,
.sticker-panel__list button:focus {
  background-color: #2a2f3b;
}

.sticker-panel__list-item:hover img {
  border-radius: 30%;
}

.sticker-panel__last-used > svg {
  padding: 8px;
  color: #697795;
  background-color: #2a2f3b;
  border-radius: 5px;
}

.sticker-panel__pack {
  flex: 1 1 0;
  padding: 0 8px;
  overflow-y: scroll;
}

.sticker-panel__pack-name {
  padding: 10px 13px;
  font-size: 0.8em;
  color: #888faa;
  font-family: sans-serif;
  margin: 0;
}

.sticker-panel__pack-list {
  margin: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sticker-panel__pack-list-item {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticker-panel__pack-list-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 5px;
  line-height: 0;
  border-radius: 5px;
}

.sticker-panel__pack-list-item button:focus {
  box-shadow: 0 0 1px 1px #2a2f3b;
}

.sticker-panel__pack-list-item img {
  padding: 10px;
  background-color: #3e4657;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.sticker-panel ::-webkit-scrollbar {
  width: 5px;
}

.sticker-panel ::-webkit-scrollbar-button {
  display: none;
}

.sticker-panel ::-webkit-scrollbar-track {
  background-color: #999;
}

.sticker-panel ::-webkit-scrollbar-track-piece {
  background-color: #434c5d;
}

.sticker-panel ::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: #2a2f3b;
  border-radius: 5px;
}

.sticker-panel ::-webkit-scrollbar-corner {
  background-color: #999;
}

.sticker-panel ::-webkit-resizer {
  background-color: #2a2f3b;
}
